@charset "utf-8";

html* {
	margin: 0;
	padding: 0;


}

html {
	scroll-behavior: smooth;
	font-size: 2.5vw;
}

@media (min-width:768px) {
	html {
		font-size: 1.1vw;
	}
}

body {
	font-family: "M PLUS 1 Code", serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	background-color: #fffaf0;
	color: #333;
	font-size: 2rem;

}

.container {
	width: min(92%, 1166px);
	margin: auto;

}

.header {
	height: 6rem;
	font-weight: bold;
	padding-top: 3rem;

}

.header ul {
	width: 30rem;
	margin: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 8rem;

}

.header ul {
	width: 30rem;
	margin: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 5rem;

}

.header ul li {
	list-style: none;
	height: 100%;
	width: 20%;

}

.header ul li a {
	width: 40%;
}

a {
	text-decoration: none;

}

a:hover {
	opacity: 0.6;
	transition: 0.5s;
}

a:link {
	color: #333;
}

a:visited {
	color: #333;
}

.hiro {
	width: 80%;
	margin: auto;


}

.hiro svg {
	width: 100%;


}



svg {
	filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}



.topillust {
	width: 100%;

}



h2 {
	text-align: center;
	margin-bottom: 5rem;
	margin-top: 5rem;
	border-bottom: #ccc dotted 1px;

}

p {
	font-size: 1rem;
	font-family: "M PLUS 1 Code", sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	line-height: 2rem;

}

.works {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 200px;

}

@media (max-width:767px) {
	.works {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;

	}
}

@media (max-width:767px) {
	.item {
		width: 60%;
		text-align: center;
	}
}



.item img {
	width: 100%;
	box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.4);

}

.item h3 {
	text-align: center;
	font-size: 1.2rem;


}

.illust {
	align-items: center;
}


.about {
	display: flex;
	gap: 60px;
	justify-content: center;
	align-items: center;
}

.about h3 {
	margin-top: 0;
	margin-bottom: 3rem;
}

@media (max-width:767px) {

	.about {
		display: flex;
		gap: 5rem;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}

.profile {
	width: 40%;

}

@media (max-width:767px) {
	.profile {
		width: 80%;
		text-align: center;
		font-size: 2rem;
	}
}

.profile p {
	font-size: 1rem;

}

@media (max-width:767px) {
	.profile p {
		font-size: 1.4rem;

	}
}

.about img {
	width: 90%;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);

}

@media (max-width:767px) {
	.about img {
		width: 100%;
	}

	.about {
		align-items: center;

	}

}

@media (max-width:767px) {
	.myphoto {
		width: 70%;
		margin: auto;
	}
}


.contact {
	width: 100%;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}




.contact input[type="submit"] {
	border-radius: 15px;
	font-size: 1rem;
	padding: 10px 30px;
	margin-top: 20px;
	margin-left: 10px;

}

.contact input[type="text"] {
	font-size: 1rem;
}

.contact input[type="email"] {
	font-size: 1rem;

}

.textarea {
	width: 100%;
	height: 300px;
	font-size: 1rem;
}

.footer p {
	font-size: 2rem;
}

.footer small {
	font-size: 0.8rem;

}

.footer {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

table {
	width: 100%;
}

tbody {
	text-align: center;
}


.nigaoe_item,
.illust_item,
.website_item {
	display: flex;
	justify-content: center;
	/* flex-wrap: wrap; */
	gap: 50px;

}

@media (max-width:767px) {

	.nigaoe_item,
	.illust_item,
	.website_item {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 50px;


	}
}




.nigaoe_item img,
.illust_item img,
.website_item img {
	width: 100%;
	box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.4);
}


.container_nigaoe h4,
.container_illust h4,
.container_website h4 {
	text-align: left;
	font-size: 1.2rem;
	margin-top: 30px;
	margin-bottom: 50px;

}

.comment {
	font-size: 0.8rem;
}

/* .photo { */
/* display: grid; */
/* } */

.photoimages h3,
.photoimages p {
	text-align: center;
	margin-bottom: 5rem;

}

@media (max-width:767px) {
	.photoimages p {
		font-size: 1.4rem;

	}
}
